<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - SmartQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>
    <div class="container">
        <div class="login-card">
            <i class="fa-solid fa-arrow-left" onclick="goBackadmin()"></i>
            <h1>Organization Admin Login</h1>
            <form id="loginForm">
                <input type="text" id="username" placeholder="Username" class="input-field" required>
                <input type="password" id="password" placeholder="Password" class="input-field" required>
                <button type="submit" class="btn btn-primary">Login</button>
                <div id="error" class="error-message"></div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            
            try {
                const response = await fetch('/admin/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, password })
                });
                
                const data = await response.json();
                
                if (response.ok) {
                    window.location.href = '/admin/dashboard';
                } else {
                    document.getElementById('error').textContent = data.error;
                }
            } catch (error) {
                document.getElementById('error').textContent = 'Login failed';
            }
        });
        function goBackadmin() {
            window.location.href ='/'
        }
    </script>
</body>
</html>